---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="InstaChart - Generate charts as images online. Embed dynamic charts as images." description="Discover InstaChart: Your go-to online tool for effortlessly creating, customizing, and sharing professional charts as images. Ideal for business, academic, or personal use, our platform supports dynamic, real-time chart updates. Perfect for data visualization in presentations, websites, and social media. Easy, fast, and versatile – InstaChart transforms your data into impactful visuals!">
  <main>
    <span id="background-color-popup"></span>
    <header id="header">
      <span id="logo-container">
        <a href="/">
            <img src="/favicon.ico" alt="" width="45" />
        </a>
      </span>
      <Nav />
      <button id="menu-button"
        ><i id="menu-icon" class="ri-menu-5-line"></i></button
      >
    </header>

    <section id="headline-container">
      <h1 id="title">Just relax, and go with the flow</h1>
      <p id="subtext">
        InstaChart revolutionizes the way you create and share charts by offering a seamless, online solution. Our platform allows users to effortlessly generate a wide variety of charts - including bar graphs, pie charts, line graphs, and more - as high-quality images. Whether you're presenting data for a business meeting, academic research, or personal use, InstaChart ensures your charts look professional and are easily shareable.
      </p>
      <button id="call-to-action">View More</button>
      <pre>
        asdasd
      </pre>
    </section>

    <section id="bottle-images-and-info-container">
      <div data-color="lavender" id="lavendar" class="image-and-info">
        <img
          src="https://c.l3n.co/i/9b6knb.png"
          alt="lavendar-bottle."
          srcset=""
        />
        <h3 class="bottle-type">Contigo: Lavender</h3>
        <span class="price">$ 33.50</span>
        <button class="more-info-button"><i class="ri-add-line"></i></button>
      </div>
    </section>

    <section id="collection-container">
      <img
        src="https://b.l3n.co/i/9bqTKi.png"
        alt="Bottle-collection"
        srcset=""
        id="bottle-collection-image"
      />
      <h3 id="collection-heading">Check out our collections</h3>
      <p id="collection-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, impedit.
      </p>
      <button id="read-more-button"> Read More</button>
    </section>
  </main>
</Layout>

<style></style>
