---

---


<div
  class="container pt-10 md:pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Insta
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        Chart
      </span>
      <br />
      <span class="text-2xl">Chart as Image</span>
    </h1>
    <p
      class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left"
    >
      Generate charts as images online. Embed dynamic charts as images.
    </p>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label
          class="block text-blue-300 py-2 font-bold mb-2"
          for="emailaddress"
        >
          Ideal for business, academic, or personal use, our platform supports
          dynamic, real-time chart updates. Perfect for data visualization in
          presentations, websites, and social media.
        </label>
        <p>
          Easy, fast, and versatile – InstaChart transforms your data into
          impactful visuals!
        </p>
      </div>
      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-t from-green-800 to-green-500 hover:from-green-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://github.com/kevincobain2000/instachart"
        >
          Read docs
        </a>
      </div>
    </div>
  </div>

  <div class="w-full xl:w-3/5 p-12 overflow-hidden">
    <img
      class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6"
      src="https://instachart.coveritup.app/line?title=Line+Chart&subtitle=Sleeping+Hours&width=760&height=560&data={%20%22x%22:%20[%22Mon%22,%22Tue%22,%22Wed%22],%20%22y%22:%20[[4,8,7],%20[10,20,24]],%20%22names%22:%20[%22Sleeping%22,%20%22Awake%22]%20}&theme=dark"
    />
  </div>
  <style></style>
</div>
