---
import sun from "@assets/sun.svg?raw";
---

<div class="mx-auto md:pt-16">
  <p class="text-violet-400 font-bold pb-6 lg:pb-6 text-center text-3xl">
    Multiple Themes
  </p>
  <p class="flex justify-center">
    <Fragment set:html={sun} />
  </p>
  <p class="text-center pt-10 pb-10">
    Choose from multiple themes to suit your needs.
  </p>
  <p class="text-center font-bold pb-5 text-white">Light</p>
  <div class="flex w-full items-center justify-center md:justify-center lg:pb-0 fade-in">
    <img
      src="https://instachart.coveritup.app/line?title=Hackathon&subtitle=Sleeping+Hours&fill=true&width=690&height=390&data={%20%22x%22:%20[%22Mon%22,%22Tue%22,%22Wed%22],%20%22y%22:%20[[4,8,7],%20[10,20,24]],%20%22names%22:%20[%22Sleeping%22,%20%22Awake%22]%20}&theme=light"
      class="transform hover:scale-110 duration-300 ease-in-out"
    />
  </div>
  <br />
  <p class="text-center font-bold pb-5 text-gray-400">Dark</p>
  <div class="flex w-full justify-center md:justify-center lg:pb-0 fade-in">
    <img
      src="https://instachart.coveritup.app/line?title=Hackathon&subtitle=Sleeping+Hours&fill=true&width=690&height=390&data={%20%22x%22:%20[%22Mon%22,%22Tue%22,%22Wed%22],%20%22y%22:%20[[4,8,7],%20[10,20,24]],%20%22names%22:%20[%22Sleeping%22,%20%22Awake%22]%20}&theme=dark"
      class="transform hover:scale-110 duration-300 ease-in-out"
    />
  </div>
</div>
<style></style>
