---
import Layout from "@components/Layout.astro";
import Nav from "@components/Nav.astro";
import LineChart from "@components/LineChart.astro";
import Themes from "@components/Themes.astro";
import Hero from "@components/Hero.astro";
import BarChart from "@components/BarChart.astro";
import RadarChart from "@components/RadarChart.astro";
import SelfHosting from "@components/SelfHosting.astro";
import Compare from "@components/Compare.astro";
import PieChart from "@components/PieChart.astro";
import Footer from "@components/Footer.astro";
---

<Layout
  title="InstaChart - Generate charts as images online. Embed dynamic charts as images."
  description="Discover InstaChart: Your go-to online tool for effortlessly creating, customizing, and sharing professional charts as images. Ideal for business, academic, or personal use, our platform supports dynamic, real-time chart updates. Perfect for data visualization in presentations, websites, and social media. Easy, fast, and versatile – InstaChart transforms your data into impactful visuals!"
>
  <div class="h-full">
    <Nav />

    <Hero />
    <Themes />
    <LineChart />
    <BarChart />
    <PieChart />
    <RadarChart />
    <SelfHosting />
    <Compare />
    <Footer />
  </div>
</Layout>

<style></style>
