---

---

<nav id="navigation-options-container">
    <a href="https://github.com/kevincobain2000/instachart" class="nav-options">Github</a>
    <a href="https://medium.com/web-developer/instachart-the-ultimate-chart-embedding-solution-for-markdown-ce0dc02b6d98" class="nav-options">Story on Medium</a>
  </nav>
<style>

</style>
