on:
  push:
    paths:
      - '**/*.go'
      - '**/*.mod'
      - '**/*.sum'
      - '**/*.yml'
name: CI
jobs:
  build:
    strategy:
      matrix:
        go-version: [dev-latest, mod]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: kevincobain2000/action-gobrew@v2
        with:
          version: ${{ matrix.go-version }}

      - name: Go version
        run: go version
      - name: Build
        run: go build main.go
